.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-top: 2px solid #d3d3d3;
}
.footer > p {
  margin-right: 20px;
}

.contact-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-footer > a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: inherit;
}
